@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-container {
  border: 1px solid var(--foreground);
  padding: 0.5rem;
}

.gallery-image {
  max-width: 100%;
  height: auto;
}

.image-description {
  margin-top: 0.5rem;
  text-align: center;
}
